<ul *ngIf="pager.pages && pager.pages.length" class="pagination pg-purple">
  <li
    [ngClass]="{ disabled: pager.currentPage === 1 }"
    class="page-item first-item"
  >
    <a (click)="setPage(1)" class="page-link" mdbWavesEffect>First</a>
  </li>
  <li
    [ngClass]="{ disabled: pager.currentPage === 1 }"
    class="page-item previous-item"
  >
    <a (click)="setPage(pager.currentPage - 1)" class="page-link" mdbWavesEffect
      >Previous</a
    >
  </li>
  <li
    *ngFor="let page of pager.pages"
    [ngClass]="{ active: pager.currentPage === page }"
    class="page-item number-item"
  >
    <a (click)="setPage(page)" class="page-link" mdbWavesEffect>{{ page }}</a>
  </li>
  <li
    [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
    class="page-item next-item"
  >
    <a (click)="setPage(pager.currentPage + 1)" class="page-link" mdbWavesEffect
      >Next</a
    >
  </li>
  <li
    [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
    class="page-item last-item"
  >
    <a (click)="setPage(pager.totalPages)" class="page-link" mdbWavesEffect
      >Last</a
    >
  </li>
</ul>
